

.character-div{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.characterList{
    list-style: none;
}

.character-li{
    font-family: sans-serif;
}

h2{
    color: white
}