
.search-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    width: 100%;    
}

.form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.search-div input,
.search-div select,
.search-div button {
    border: none;
    opacity: 0.7;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

::placeholder{
    color: white;
    font-weight: bold;
}

input{
    height: 28px;
    background-color: rgb(131, 129, 127);
    color: white;
}

button{
    background-color: rgb(88, 76, 68);
    color: white;
    height: 30px;
    font-weight: bold;
}

select{
    background-color: rgb(131, 129, 127);
    color: white;
    font-weight: bold;
    height: 30px;
}
